[user]
	name = Tilmann Bruckhaus
	email = Tilmann.Bruckhaus@mail.mcgill.ca
[color]
	ui = true
[color]
  diff = auto
  status = auto
  branch = auto
[push]
	default = simple
[alias]
	ignore = update-index --skip-worktree
	unignore = update-index --no-skip-worktree
	ignored = !git ls-files -v | grep \"^S\"
[credential]
	helper = cache
[core]
        pager = cat
[pull]
        rebase = true
