[user]
	name = Tilmann Bruckhaus
	email = Tilmann.Bruckhaus@mail.mcgill.ca
[color]
	ui = true
[color]
  diff = auto
  status = auto
  branch = auto
[push]
	default = simple
[alias]
	ignore = update-index --skip-worktree
	unignore = update-index --no-skip-worktree
	ignored = !git ls-files -v | grep \"^S\"
[core]
        pager = cat
[pull]
        rebase = true
[http]
	postBuffer = 524288000
[credential "https://github.com"]
	helper = 
	helper = !/usr/local/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/local/bin/gh auth git-credential
